body {
  display: grid;
  margin: 0px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0 100%), url("../images/UMStadium.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-template-rows: 70px auto 70px 70px;
  /* grid-template-columns: auto 900px auto; */
  align-content: center;
}

header {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column: 1 / -1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 50, 106, 0.80);

  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #003e78;
  opacity: 0.8;
}

nav .active {
  background-color: #003e78;
  /* color: #ffcb0b; */
}

main {
  grid-row-start: 2;
  grid-row-end: span 1;
  /* grid-column: 2 / span 1; */
  padding: 20px;
}


h1 {
  padding: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 3em;
}


@keyframes fade {
  from {
    opacity: 0;
    margin-left: 100%;
    width: 300%;
  }

  to {
    opacity: 1;
    /* margin-left: 0%; */
    width: 100%;
  }
}

h1,
#img-minghan {
  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@media (prefers-reduced-motion: reduce) {

  h1,
  #img-minghan {
    animation: none;
  }
}

.skip {
  margin-top: 100px;
}

ul {
  list-style: square;
}


img {
  border-style: none;
  margin: 10px;
  padding: 1px;
  display: inline;
  width: 800px;
}

img:hover {
  box-shadow: 3px 3px 3px #1E90FF;
}


.gallery {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#img-minghan {
  width: 600px;
  height: 450px;
}

/* #img-ece{
  width: 450px;
} */

/* #img-umsi{
  width: 600px;
  height: 55px;
} */

#img-si {
  width: 550px;
  height: 52px;
}

#img-ece {
  width: 420px;
  height: 85px;
}


#img-uber,
#img-twitch,
#img-starlink,
#img-android {
  width: 600px;
  height: 450px;
}


#img-tinnews {
  width: 400px;
  height: 800px;
}

#img-star {
  width: 1000px;
  height: 550px;
}

#LinkedIn {
  color: #0A66C2;
}

aside {
  grid-row: 3 / span 1;
  /* grid-column: 2 / span 1; */
}

footer {
  grid-row-start: 4;
  grid-row-end: span 1;
  /* grid-column: 1 / -1; */
}


@media screen and (min-width: 700px) {

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #img-minghan {
    order: 1;
    animation: none;
  }

  #img-si {
    order: 2;
  }

  #img-ece {
    order: 2;
  }

  #img-uber {
    order: 3;
  }

  #img-twitch {
    order: 4;
  }

  #img-starlink {
    order: 5;
  }

  #img-android {
    order: 6;
  }
}