body {
  display: grid;
  margin: 0px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-template-rows: 70px auto 70px 70px;
  align-content: center;
  background: url("../images/Stadium.png") #ffffff;
}

header {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column: 1 / -1;
}

.skip {
  visibility: hidden;
}

#desktop_nav {
  visibility: hidden;
}

/* Design of hamburgur menu is referenced from https://codepen.io/erikterwan/pen/EVzeRP*/
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 10px;
  z-index: 1;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #0b0b0b;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked~ul {
  transform: none;
}

main {
  grid-row-start: 2;
  grid-row-end: span 1;
  padding: 20px;
}


h1 {
  padding: 10px;
  font-family: 'EB Garamond', serif;
  font-size: 3em;
}


@keyframes fade {
  from {
    opacity: 0;
    margin-left: 100%;
    width: 300%;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

h1,
#img-minghan {
  animation-name: fade;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@media (prefers-reduced-motion: reduce) {

  h1,
  #img-minghan {
    animation: none;
  }
}

.skip {
  margin-top: 100px;
}

ul {
  list-style: square;
}


img {
  border-style: none;
  margin: 10px;
  padding: 1px;
  display: inline;
  width: 800px;
}

img:hover {
  box-shadow: 3px 3px 3px #004F9E;
}

.skill {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#img-minghan {
  width: 600px;
  height: 450px;
}

#img-si {
  width: 550px;
  height: 52px;
}

#img-ece {
  width: 420px;
  height: 85px;
}


#img-uber,
#img-twitch,
#img-starlink,
#img-android {
  width: 600px;
  height: 450px;
}


#img-tinnews {
  width: 400px;
  height: 800px;
}

#img-star {
  width: 1000px;
  height: 550px;
}

#LinkedIn {
  display: none;
}

aside {
  grid-row: 3 / span 1;
  /* grid-column: 2 / span 1; */
  padding: 20px;
}

footer {
  grid-row-start: 4;
  grid-row-end: span 1;
}

/* Layout for iPad */
@media screen and (min-width: 768px) {

  body {
    display: grid;
    grid-template-rows: auto auto 70px 70px;
    align-content: center;
    justify-content: center;

  }

  #menuToggle {
    visibility: hidden;
    display: none;
  }

  #desktop_nav {
    visibility: visible;
    top: 0;
  }

  #desktop_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00326acc;
    top: 0;
    width: 100%;
  }

  #desktop_menu li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }

  #desktop_menu li a:hover:not(.active) {
    background-color: #003e78;
    opacity: 0.8;
  }

  #desktop_menu .active {
    background-color: #003e78;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

/* Layout for Desktop */

@media screen and (min-width: 1025px) {
  .skip {
    visibility: visible;
  }

  .skip a {
    visibility: visible;
    background: #ffffff;
    z-index: 1;
    left: -500px;
    position: absolute;
    top: -40px;
  }

  .skip a:focus,
  .skip a:active {
    background: #ffffff;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    position: absolute;
    padding: 0;
    top: 50px;
    left: 5px;
    z-index: 1;
  }

  body {
    display: grid;
    grid-template-rows: 70px auto 70px 70px;
    align-content: center;
    justify-content: center;

  }

  #menuToggle {
    visibility: hidden;
    display: none;
  }

  #desktop_nav {
    visibility: visible;
    top: 0;
  }

  #desktop_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00326acc;
    top: 0;
    width: 100%;
  }

  #desktop_menu li {
    float: left;
  }

  #desktop_menu li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #desktop_menu li a:hover:not(.active) {
    background-color: #003e78;
    opacity: 0.8;
  }

  #desktop_menu .active {
    background-color: #003e78;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #img-minghan {
    order: 1;
    animation: none;
  }

  #img-si {
    order: 2;
  }

  #img-ece {
    order: 2;
  }

  #img-uber {
    order: 3;
  }

  #img-twitch {
    order: 4;
  }

  #img-starlink {
    order: 5;
  }

  #img-android {
    order: 6;
  }

  #LinkedIn {
    display: block;
    color: #0A66C2;
  }

}