body {margin: 0px;}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0,50,106,0.80);

  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #003e78;
  opacity:0.8;
}

nav .active {
  background-color: #003e78;
  /* color: #ffcb0b; */
}


h1 {
    padding: 10px;
}

.skip {
    margin-top: 100px;
}

ul {
  list-style: square;
}

img {
  border-style: none;
  margin: 10px;
  padding: 1px;
  display: inline;
  width: 800px;
}

img:hover {
box-shadow: 3px 3px 3px #1E90FF;
}

.img-minghan img{
  width: 600px;
}

.img-stadium img{
  width: 1000px;
}

.img-ece img{
  width: 450px;
}

.img-umsi img{
  width: 600px;
  height: 55px;
}

.img-uber img{
  width: 300px;
}

.img-twitch img, .img-starlink img{
  width: 500px;
}

.img-android img{
  width: 500px;
  height: 400px;
}

.img-android img{
  width: 500px;
  height: 400px;
}

.img-tinnews img{
  width: 400px;
  height: 800px;
}

.img-star img{
  width: 1000px;
  height: 550px;
}
